* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

::selection {
    background-color: #017143;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

html,
body {
    height: 100%;
    background-color: #dfdfdf;
}

/* navbar */

/* Navbar */
header {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 15px 0;
}

.navbar {
    max-width: 1100px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.navbar .logo-img {
    max-width: 50px;
}

.navbar .menu {
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: 50px;
}

.navbar .menu li {
    margin-right: 40px;
    position: relative;
}

.navbar .menu li a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar .menu li a:hover {
    color: #017143;
    transform: translateY(-3px);
    text-decoration: underline;
    /* Efeito de elevação */
}

/* Animação para indicar o menu ativo */
.navbar .menu li.active a {
    color: #017143;
}

/* Responsividade */
@media (max-width: 768px) {

    html,
    body {
        overflow: auto;
    }

    .navbar .menu {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        display: none;
        /* Escondido por padrão */
    }

    .navbar .menu li {
        margin: 20px 0;
    }

    .navbar.active .menu {
        display: flex;
        /* Exibe o menu quando a navbar está ativa */
    }

    .navbar .hamburger {
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: #fff;
    }

    .navbar .hamburger.open .bar {
        background-color: #017143;
        /* Muda a cor das barras quando aberto */
    }

    .navbar .hamburger .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0;
        transition: all 0.3s ease;
    }

    .texto-sobre h1 {
        font-size: 32px;
    }

    .texto-sobre p {
        font-size: 15px;
        max-width: 90%;
    }

    .texto-sobre button {
        width: 120px;
        height: 35px;
    }
}

/* Estilo de busca */
.search-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#searchInput {
    padding: 8px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    color: #017143;
    background-color: #333;
    width: 180px;
    transition: width 0.4s ease;
}

#searchInput:focus {
    width: 250px;
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    .search-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    #searchInput {
        width: 100%;
    }
}

/* Buscar */

#search {
    display: grid;
    grid-area: search;
    grid-template:
        "search" 45px
        / 250px;
    justify-content: center;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    background: #333;
}

#search input {
    display: block;
    grid-area: search;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: none;
    padding: 0 30px 0 60px;
    border: none;
    border-radius: 100px;
    font: 24px/1 system-ui, sans-serif;
    outline-offset: -8px;
}


#search svg {
    grid-area: search;
    overflow: visible;
    color: #017143;
    fill: none;
    stroke: currentColor;
}

.spark {
    fill: currentColor;
    stroke: none;
    r: 15;
}

.spark:nth-child(1) {
    animation:
        spark-radius 2.03s 1s both,
        spark-one-motion 2s 1s both;
}

@keyframes spark-radius {
    0% {
        r: 0;
        animation-timing-function: cubic-bezier(0, 0.3, 0, 1.57)
    }

    30% {
        r: 15;
        animation-timing-function: cubic-bezier(1, -0.39, 0.68, 1.04)
    }

    95% {
        r: 8
    }

    99% {
        r: 10
    }

    99.99% {
        r: 7
    }

    100% {
        r: 0
    }
}

@keyframes spark-one-motion {
    0% {
        transform: translate(-20%, 50%);
        animation-timing-function: cubic-bezier(0.63, 0.88, 0, 1.25)
    }

    20% {
        transform: rotate(-0deg) translate(0%, -50%);
        animation-timing-function: ease-in
    }

    80% {
        transform: rotate(-230deg) translateX(-20%) rotate(-100deg) translateX(15%);
        animation-timing-function: linear
    }

    100% {
        transform: rotate(-360deg) translate(30px, 100%);
        animation-timing-function: cubic-bezier(.64, .66, 0, .51)
    }
}

.spark:nth-child(2) {
    animation:
        spark-radius 2.03s 1s both,
        spark-two-motion 2.03s 1s both;
}

@keyframes spark-two-motion {
    0% {
        transform: translate(120%, 50%) rotate(-70deg) translateY(0%);
        animation-timing-function: cubic-bezier(0.36, 0.18, 0.94, 0.55)
    }

    20% {
        transform: translate(90%, -80%) rotate(60deg) translateY(-80%);
        animation-timing-function: cubic-bezier(0.16, 0.77, 1, 0.4)
    }

    40% {
        transform: translate(110%, -50%) rotate(-30deg) translateY(-120%);
        animation-timing-function: linear
    }

    70% {
        transform: translate(100%, -50%) rotate(120deg) translateY(-100%);
        animation-timing-function: linear
    }

    80% {
        transform: translate(95%, 50%) rotate(80deg) translateY(-150%);
        animation-timing-function: cubic-bezier(.64, .66, 0, .51)
    }

    100% {
        transform: translate(100%, 50%) rotate(120deg) translateY(0%)
    }
}

.spark:nth-child(3) {
    animation:
        spark-radius 2.05s 1s both,
        spark-three-motion 2.03s 1s both;
}

@keyframes spark-three-motion {
    0% {
        transform: translate(50%, 100%) rotate(-40deg) translateX(0%);
        animation-timing-function: cubic-bezier(0.62, 0.56, 1, 0.54)
    }

    30% {
        transform: translate(40%, 70%) rotate(20deg) translateX(20%);
        animation-timing-function: cubic-bezier(0, 0.21, 0.88, 0.46)
    }

    40% {
        transform: translate(65%, 20%) rotate(-50deg) translateX(15%);
        animation-timing-function: cubic-bezier(0, 0.24, 1, 0.62)
    }

    60% {
        transform: translate(60%, -40%) rotate(-50deg) translateX(20%);
        animation-timing-function: cubic-bezier(0, 0.24, 1, 0.62)
    }

    70% {
        transform: translate(70%, -0%) rotate(-180deg) translateX(20%);
        animation-timing-function: cubic-bezier(0.15, 0.48, 0.76, 0.26)
    }

    100% {
        transform: translate(70%, -0%) rotate(-360deg) translateX(0%) rotate(180deg) translateX(20%);
    }
}




.burst {
    stroke-width: 3;
}

.burst :nth-child(2n) {
    color: #ff783e
}

.burst :nth-child(3n) {
    color: #ffab00
}

.burst :nth-child(4n) {
    color: #55e214
}

.burst :nth-child(5n) {
    color: #82d9f5
}

.circle {
    r: 6;
}

.rect {
    width: 10px;
    height: 10px;
}

.triangle {
    d: path("M0,-6 L7,6 L-7,6 Z");
    stroke-linejoin: round;
}

.plus {
    d: path("M0,-5 L0,5 M-5,0L 5,0");
    stroke-linecap: round;
}




.burst:nth-child(4) {
    transform: translate(30px, 100%) rotate(150deg);
}

.burst:nth-child(5) {
    transform: translate(50%, 0%) rotate(-20deg);
}

.burst:nth-child(6) {
    transform: translate(100%, 50%) rotate(75deg);
}

.burst * {}

@keyframes particle-fade {

    0%,
    100% {
        opacity: 0
    }

    5%,
    80% {
        opacity: 1
    }
}

.burst :nth-child(1) {
    animation: particle-fade 600ms 2.95s both, particle-one-move 600ms 2.95s both;
}

.burst :nth-child(2) {
    animation: particle-fade 600ms 2.95s both, particle-two-move 600ms 2.95s both;
}

.burst :nth-child(3) {
    animation: particle-fade 600ms 2.95s both, particle-three-move 600ms 2.95s both;
}

.burst :nth-child(4) {
    animation: particle-fade 600ms 2.95s both, particle-four-move 600ms 2.95s both;
}

.burst :nth-child(5) {
    animation: particle-fade 600ms 2.95s both, particle-five-move 600ms 2.95s both;
}

.burst :nth-child(6) {
    animation: particle-fade 600ms 2.95s both, particle-six-move 600ms 2.95s both;
}

@keyframes particle-one-move {
    0% {
        transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001)
    }

    100% {
        transform: rotate(-20deg) translateX(8%) scale(0.5, 0.5)
    }
}

@keyframes particle-two-move {
    0% {
        transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001)
    }

    100% {
        transform: rotate(0deg) translateX(8%) scale(0.5, 0.5)
    }
}

@keyframes particle-three-move {
    0% {
        transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001)
    }

    100% {
        transform: rotate(20deg) translateX(8%) scale(0.5, 0.5)
    }
}

@keyframes particle-four-move {
    0% {
        transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001)
    }

    100% {
        transform: rotate(-35deg) translateX(12%)
    }
}

@keyframes particle-five-move {
    0% {
        transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001)
    }

    100% {
        transform: rotate(0deg) translateX(12%)
    }
}

@keyframes particle-six-move {
    0% {
        transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001)
    }

    100% {
        transform: rotate(35deg) translateX(12%)
    }
}



.bar {
    width: 100%;
    height: 100%;
    ry: 50%;
    stroke-width: 10;
    animation: bar-in 900ms 3s both;
}

@keyframes bar-in {
    0% {
        stroke-dasharray: 0 180 0 226 0 405 0 0
    }

    100% {
        stroke-dasharray: 0 0 181 0 227 0 405 0
    }
}

.magnifier {
    animation: magnifier-in 600ms 3.6s both;
    transform-box: fill-box;
}

@keyframes magnifier-in {
    0% {
        transform: translate(20px, 8px) rotate(-45deg) scale(0.01, 0.01);
    }

    50% {
        transform: translate(-4px, 8px) rotate(-45deg);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

.magnifier .glass {
    cx: 27;
    cy: 27;
    r: 8;
    stroke-width: 3;
}

.magnifier .handle {
    x1: 32;
    y1: 32;
    x2: 44;
    y2: 44;
    stroke-width: 3;
}



#results {
    grid-area: results;
    background: hsl(0, 0%, 95%);
}

/* Card */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img {
    width: 100%;
    height: 200px;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.card-content p {
    margin: 20px 0;
    color: #050000;
    font-size: 17px;
    line-height: 1.3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}

.button:hover {
    color: #fff;
    background-color: #017143;
    animation-duration: 1s;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 100px;
    text-align: center;
}

/* Container principal do rodapé */
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

/* Título das seções do rodapé */
.footer-container h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

/* Navegação do rodapé */
.footer-nav ul {
    list-style: none;
    padding: 0;
}

.footer-nav ul li {
    margin: 5px 0;
}

.footer-nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-nav ul li a:hover {
    color: #017143;
    text-decoration: underline;
}

/* Contato do rodapé */
.footer-contact p {
    margin: 5px 0;
}

/* Redes sociais do rodapé */
.footer-social a {
    display: inline-block;
    margin: 0 5px;
    transition: transform 0.3s ease;
}

.footer-social a:hover {
    transform: scale(1.1);
}

.footer-social img {
    width: 24px;
    height: 24px;
}

/* Linha inferior do rodapé */
.footer-bottom {
    margin-top: 20px;
    font-size: 0.9em;
    color: #aaa;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-container>div {
        margin-bottom: 20px;
        /* Espaço entre as seções do rodapé */
    }

    .footer-social {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {

    .footer-container h3 {
        font-size: 1em;
        /* Reduz o tamanho do título em telas muito pequenas */
    }

    .footer-nav ul li a {
        font-size: 0.9em;
        /* Reduz o tamanho dos links */
    }

    .footer-bottom {
        font-size: 0.8em;
    }
}